* { margin:0; padding:0; border:none; box-sizing:border-box; }
.wrap { min-width:1200px; }
html, body { width:100%; height:100vh; }

#drag-items { float:left; width:40%; margin-top:50px; margin-left:50px; }
#drag-items img { width:calc(33.33333% - 20px); margin:25px 5px; display:inline-block; }
.right-section { float:right; margin:50px 100px 0 0;  }
#container { border:1px solid #cccccc; }
.save-btn { cursor:pointer; width:80px; height:40px; font-size:18px; color:#ffffff; background:#000000; margin:0 auto; margin-top:25px; display:block; }
.clear:after , .clear:before { content:""; display:table; clear:both; }